.days__list {
    margin-bottom: 50px;
    display: flex;
    &__item {        
        margin-right: 1%;
        flex: 1;
        &:last-child { margin-right: 0; }
        > h2 {
            padding: 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: $gray-back-color;
            color: $white-color;
            font-size: 16px;
            text-align: right;
            text-transform: uppercase;
        }
    }
}

.birthdays__list {
    height: 200px;
    border: 2px solid $border-color;
    border-top: none;
    display: flex;
    background: $white-color;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    &.day--empty {
        background: none;
        background: $background;
    }
    &.one {
        > li {
            flex: 1;
            height: 100%;
        }
    }
    &.four {
        > li {
            flex-basis: 50%;
            height: 50%;
        }
    }
    &.nine {
        > li {
            flex-basis: calc(100%/3);
            height: calc(100%/3);
        }
    }
    &.sixteen {
        > li {
            flex-basis: 25%;
            height: 25%;
        }
    }
    &.twenty-five {
        > li {
            flex-basis: 20%;
            height: 20%;
        }
    }
    &.thirty-six {
        > li {
            flex-basis: calc(100%/6);
            height: calc(100%/6);
        }
    }
    &.forty-nine {
        > li {
            flex-basis: calc(100%/7);
            height: calc(100%/7);
        }
    }
    &__item {
        display: flex;
        color: $white-color;
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        &:first-child { background: returnMap($birthday, color1); }
        &:nth-child(2) { background: returnMap($birthday, color2); }
        &:nth-child(3) { background: returnMap($birthday, color3); }
        &:nth-child(4) { background: returnMap($birthday, color4); }
        &:nth-child(5) { background: returnMap($birthday, color5); }
        &:nth-child(6) { background: returnMap($birthday, color6); }
        &:nth-child(7) { background: returnMap($birthday, color7); }
        &:nth-child(8) { background: returnMap($birthday, color8); }
        &:nth-child(9) { background: returnMap($birthday, color9); }
    }
}