$fontFamily: Arial, sans-serif;

$background: #eaf0f2;

$heading-font-color: #5e6d7a;
$font-color: #222;
$white-color: #fff;

$border-color: #d3d8d9;

$update-button-color: #0186ef;

$gray-back-color: #ab9eee;

$birthday: (
    color1: #555d7b,
    color2: #9fd400,
    color3: #c97d99,
    color4: #79cae5,
    color5: #e8492a,
    color6: #0055d0,
    color7: #ff1baa,
    color8: #0dccfe,
    color9: #d9e710
);